/* wrap */
.wrap{display: flex;gap: 10px}
/* card */
.card{display: inline-block;transition: all .5s;transform: perspective(800px) rotateY(180deg);transform-style: preserve-3d;width: 60px;height: 100px;padding: 10px;font-size: 12px;}
.card.flipped{transform: perspective(800px) rotateY(0deg);}
.card.active{cursor: pointer;}
.card > div{position: absolute;top: 0;left: 0;display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;border-radius: 10px;backface-visibility: hidden;}
.card_front{border: 1px solid #ddd;z-index: 10;}
.card_back{color: #000;border: 1px solid #ddd;transform: rotateY(180deg);}
.card.red .card_front{background-color: red;color: #eee;}
.card.blue .card_back{background-color: blue;color: #eee;}
/* ly_pop */
.ly_pop.active{display: flex;align-items: center;justify-content: center;}
.ly_pop{display: none;position: fixed;top: 0;left: 0;right: 0;bottom: 0;}
.ly_pop .dimm{position: absolute;left:0;top:0;right:0;bottom:0;background-color: #000;opacity: 0.5;}
.ly_pop .txt{color: #fff;z-index: 10;}






